Makefile
config.log
config.status
libtool
.deps
.libs
*.pc
*.pyc
*.dirstamp
*.lo
*.la
*.a
*.o
src/git_sha1.h
src/compiler/glsl/glcpp/glcpp-lex.c
src/compiler/glsl/glsl_lexer.cpp
src/mesa/main/format_info.h
src/mesa/main/format_pack.c
src/mesa/main/format_unpack.c
src/mesa/main/get_hash.h
src/mesa/program/lex.yy.c
src/mesa/program/program_parse.tab.c
src/mesa/program/program_parse.tab.h
src/compiler/glsl_compiler
src/compiler/spirv2nir
